streamlit==1.45.1
requests==2.32.3
spacy==3.8.7
# Directe link voor het SpaCy Nederlandse model
https://github.com/explosion/spacy-models/releases/download/nl_core_news_sm-3.8.0/nl_core_news_sm-3.8.0-py3-none-any.whl#egg=nl_core_news_sm
pandas==2.2.3
numpy==2.2.6
openpyxl==3.1.5